body {  
    background-color: #303030;
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
}



.topnav {
    background-color: #303030;
    padding: 15px 0px 15px 0px;
    position: fixed;
    width: 100%;
}

.topnav a:hover {
    color: white;
}

.topnav img{
    vertical-align: bottom;
}

.topnav .navlink {
    color: silver;
    padding-left: 20px;
    text-decoration: none;
}

.topnav .left {
    float: left;
    padding-left: 200px;
}

.topnav .right {
    float: right;
    padding-right: 200px;
}



.main {
	background-color: #F5F5F5;
	padding: 60px 200px 25px 200px;
	min-height: 85vh;
}

.main h1 {
    color: #282828;
}

.main h2 {
    color: #202020;
    padding: 10px 0px 15px 0px;
}

.main h3 {
    color: #505050;
    font-size: 22px;
}

.main a {
    color: #2471A3;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.main hr {
    border: none;
    height:2px;
    background-color: #404040;
    margin: 10px 0px 35px 0px;
}

.main p, dl {
    line-height: 1.25;
    font-size:16px;
    margin-left: 20px;
    margin-right: 20px;
}
    
.main ol {
    margin-left: 20px;
    line-height: 1.35;
    font-size:16px;
}

.main tr:nth-child(even) {
    background-color: #dddddd;
}

.main pre {
    background: lightgray;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: .2rem;
}

.main button {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
}

.main img {
    max-width: 100%;
    height: auto;
}

.main canvas {
    max-width: 100%;
    height: auto;
}

.main .featured {
    margin-left: 20px;
    max-width: 700px;
}

.main .featured .element {
    width: 150px;
    overflow: hidden;
    padding-right: 20px;
    display: inline-block;
}

.main .featured .element img{
    width:150px;
    height:150px;
    object-fit: cover;
}

.main .floatright{
	display:block;
	float:right;
}



.footer{
    background-color: #303030;
    padding: 20px 200px 20px 200px;
    color: white;
    text-align: center;
}

.footer a p {
    color: white;
    padding: 0px 15px 0px 15px;
    line-height: 0;
}

.footer .social{
    /* height: 16px; */
    display: inline-block;
    padding-bottom: 10px;
}

.footer .social img {
    width: 24px;
    padding: 0px 5px 0px 5px;
}
