@media screen and (max-width: 1800px) {
    .main {
        padding-left: 200px;
        padding-right: 200px;

    }

    .header {
        padding-left: 200px;
        padding-right: 200px;
    }

	.topnav .left {
        padding-left: 200px;
    }

    .topnav .right {
        padding-right: 200px;
    }
}

@media screen and (max-width: 1300px) {
    .header {
        padding-left: 50px;
        padding-right: 50px;
    }

	.main {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header {
        padding-left: 50px;
        padding-right: 50px;
    }

	.topnav .left {
        padding-left: 50px;
    }

    .topnav .right {
        padding-right: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .main .featured {
        max-width: 600px;
    }
}

@media screen and (max-width: 1000px){
	.main .floatright {
        float:left;
    }

    .main .featured {
        max-width: 750px;
    }

	.nowrap{
        overflow:hidden;
        width:100%
    }
}

@media screen and (max-width: 700px){
    .main{
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        padding-top: 95px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer {
        padding: 20px 20px 20px 20px;
    }

    .topnav .left {
        float: none;
        text-align: center;
        padding-left: 0px;
    }

    .topnav .right {
        float: none;
        text-align: center;
        padding-right: 0px;
    }

    .topnav .navlink {
        padding: 0px 5px 0px 5px;
    }

    .topnav .navselect {
        padding: 0px 5px 0px 5px;
    }
}

@media screen and (max-width: 400px){
    .main{
        padding-left: 10px;
        padding-right: 10px;
    }

    .header {
        padding-top: 115px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer {
        padding: 20px 10px 20px 10px;
    }
	.main p,dl,img {
        margin-left: 0px;
        margin-right: 0px;
    }

    .main canvas {
        margin-left: 0px;
    }

    .main .featured {
        margin-left: 0px;
    }
}

@media screen and (max-width: 365px) {
    .main .featured .element {
        width: 125px;
        padding-right: 10px;
    }

    .main .featured .element img {
        width: 125px;
        height: 125px;
    }
}

@media screen and (max-width: 330px) {
    .main {
        padding: 90px 10px 0px 10px;

    }
}
