@media screen and (max-width: 1300px) {
	.main {
        padding-left: 50px;
        padding-right: 50px;
    }

	.topnav .left {
        padding-left: 50px;
    }

    .topnav .right {
        padding-right: 50px;
    }
}

@media screen and (max-width: 900px){
	.main .floatright {
        float:left;
    }

	.nowrap{
        overflow:hidden;width:100%
    }
}

@media screen and (max-width: 700px){
    .main{
        padding: 75px 20px 0px 20px;
    }

    .footer {
        padding: 20px 20px 20px 20px;
    }

    .topnav .left {
        float: none;
        text-align: center;
        padding-left: 0px;
    }

    .topnav .right {
        float: none;
        text-align: center;
        padding-right: 0px;
    }

    .topnav .navlink {
        padding: 0px 5px 0px 5px;
    }
}

@media screen and (max-width: 500px){
    .main{
        padding: 75px 10px 0px 10px;
    }

    .footer {
        padding: 20px 10px 20px 10px;
    }
	.main p,dl,img {
        margin-left: 0px;
        margin-right: 0px;
    }

    .main canvas {
        margin-left: 0px;
    }

    .main .featured {
        margin-left: 0px;
    }
}

@media screen and (max-width: 365px) {
    .main .featured .element {
        width: 125px;
        padding-right: 10px;
    }

    .main .featured .element img {
        width: 125px;
        height: 125px;
    }
}

@media screen and (max-width: 330px) {
    .main {
        padding: 90px 10px 0px 10px;

    }
}
