.paytable {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.redSel {
	font-weight:bold;
	color:black
}

.handSel {
	background-color:red;
	font-weight:bold;
	color:white
}



.cardflex {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.cardDivF{
    padding: 0px 5px 0px 0px;
}

.cardDiv{
    padding: 0px 5px 0px 5px;
}
.cardDivL{
    padding: 0px 0px 0px 5px;
}



.holdText{
	text-align:center;
	line-height:0px
}

.betSel{
	display:inline;
	white-space: nowrap;
	padding-top:1%
}

.balDiv{
	white-space: nowrap; 
	display:inline;
}

.balDisp{
	font-size:16px;
	font-family:courier;
	resize:none;
	height:20px;
	width:75px;
}

.balText{
	font-size:16px;
	line-height:0px;
	display:inline
}

.imgButton{
	padding:0px;
	border:none;
    width:100%;
}

.main img {
    width: 100%;
}

.redText{
	color:red;
}

.selected {
  background-color:red;
  font-weight:bold;
  color:white
}

.main img, p {
	margin-left: 0px;
}

.noBorder {
	padding: 4px;
	border: 0px;
	width:100%;
}

.main button {
	padding: 0px;
}

.bet {
    width: 100%;
}

.betdiv {
    max-width: 1000px;
    /* width: 100%; */
    margin: auto;

}
