.redSel {
	font-weight:bold;
	color:black
}

.handSel {
	background-color:red;
	font-weight:bold;
	color:white
}

.cardDiv{
	width: 100%;
	display:inline-block;
}

.holdText{
	text-align:center;
	line-height:0px
}

.betSel{
	display:inline;
	white-space: nowrap;
	padding-top:1%
}

.balDiv{
	white-space: nowrap; 
	display:inline;
}

.balDisp{
	font-size:16px;
	font-family:courier;
	resize:none;
	height:20px;
	width:75px;
}

.balText{
	font-size:16px;
	line-height:0px;
	display:inline
}

.imgButton{
	padding:0px;
	border:none;
}

.redText{
	color:red;
}

.selected {
  background-color:red;
  font-weight:bold;
  color:white
}

body {
	background-image: url(../img/casino.png);
}

img, p {
	margin-left: 0px;
}

.noBorder {
	padding: 4px;
	border: 0px;
	width:20%;
}

button {
	padding: 0px;
}