@media screen and (min-width: 1001px){
	.topnav {display: none;}
}

@media screen and (max-width: 1000px) {
	.sidenav a {display: none;}
	.sidenav {display: none;}
	.main {margin-left: 0px;}
	.main {margin-right: 47px;}
	.main {padding: 25px 25px;}
	.topnav {display: flex;}
	h1 {font-size: 32px;}
	h2 {font-size: 28px;}
	h3 {font-size: 28px;}
	
}

@media screen and (max-width: 800px){
	.floatright {float:left;}
	.nowrap{overflow:hidden;width:100%}
}

@media screen and (max-width: 450px){
	.main {margin-right: 0px;padding: 25px 15px 25px 15px}
	p,dl,img {margin-left: 0px;margin-right: 0px}	
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 10px;}
	.sidenav a {font-size: 18px;}
}
